<!DOCTYPE html>
<html lang="en" ng-app="EventApp">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="js/event-ng-controller.js"></script>
    <script src="../static/js/event-ng-controller.js"></script>
</head>
<body ng-controller="EventController">

<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->


<h1>Welcome to events!</h1>

<span>
    <div>
        <input type="text" placeholder="Event Name" ng-model="myEvent.name"/>
        <input type="text" placeholder="Location" ng-model="myEvent.location"/>
        <input type="text" placeholder="Date/Time" ng-model="myEvent.dateAndTime"/>
        <input type="text" placeholder="Details" ng-model="myEvent.details"/>
        <input type="submit" ng-click="newEvent()" value="Create Event"/>
    </div>
    <input type="submit" ng-click="listEvents()" value="Get list of events"/>
    <div ng-repeat="events in createdEvent">
        {{events}}
    </div>
</span>


</body>
</html>