<!DOCTYPE html>
<html lang="en" ng-app="EventApp">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="js/event-ng-controller.js"></script>
    <script src="../static/js/event-ng-controller.js"></script>

</head>
<body ng-controller="EventController">


<!-- multiple buttons for one form? -->
<form action="/login" method="post">
    <input type="text" placeholder="email" name="email"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>

<div>
    <input type="text" placeholder="email" ng-model="email"/>
    <input type="text" placeholder="displayName" ng-model="displayName"/>
    <input type="password" placeholder="Password" ng-model="password"/>
    <input type="button" ng-click="createUser(email, displayName, password)" value="Create User">
</div>

</body>
</html>