<!DOCTYPE html>
<html lang="en" ng-app="EventApp">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="js/event-ng-controller.js"></script>
    <script src="../static/js/event-ng-controller.js"></script>

</head>
<body ng-controller="EventController">
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->



<!-- multiple buttons for one form? -->
<div ng-if="myUser==null">
    <div>
        <input type="text" placeholder="email" ng-model="loginUser.email"/>
        <input type="password" placeholder="Password" ng-model="loginUser.password"/>
        <input type="button" ng-click="login()" value="login"/>
    </div>

    <div>
        <input type="text" placeholder="email" ng-model="user.email"/>
        <input type="text" placeholder="displayName" ng-model="user.displayName"/>
        <input type="password" placeholder="Password" ng-model="user.password"/>
        <input type="button" ng-click="createUser()" value="Create User">
    </div>
</div>


<div ng-if="myUser!=null">
    {{myUser.responseUser.displayName}} is logged in
    <input type="button" ng-click="listEvents()" value="Get list of events"/>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Event Details</th>
            <th>Attending</th>
        </tr>
        <tr ng-repeat="event in listEvents">
            <td>{{event.name}}</td>
            <td>{{event.details}}</td>
            <td><input type="submit" ng-click="attendingEvent(event)" value="Attending Event"/></td>
        </tr>
    </table>




</div>

</body>
</html>